body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  body.homePageBody {

    justify-content: flex-start;
  }

  header.homeHeaderContainer {

    background-color: #191919;
    width: 100vw;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }

  #homeUL {

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      text-decoration: none;
      list-style: none;

      margin: 20px 0px 20px 0px;
  }

  .homeUlOption {
      
      margin-right: 20px;
  }

  /* home cards */
  div.homePageMainContainer {

    width: 100vw;
    height: 100vh;
    background-color: #ccc;
  }

  div.homePageMainCardsContainer {

      display: flex;
      justify-content: space-around;

      padding-top: 20px;
  }

  div.homePageCard {

      width: 300px;

      border: 1px solid #191919;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      background-color: #fff;

      padding: 0px 0px 15px 15px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  h4.cardTitle {

      color: #191919;
      margin-top: 5px;
      margin-bottom: 5px;

      font-size: 18px;
      font-weight: 600;
  }

  h5.cardTitle  {
    
      color: #191919;
      margin-top: 5px;
      margin-bottom: 35px;

      font-size: 14px;
      font-weight: 600;
  }

  button.btnsContainer {

      display: flex;
  }

  /* nav cadastros dropDown */

  #homeUlOptionDropDown {

    transition: 0.2s ease;
  }

  li.dropDown > ul {

    display: none;

    position: absolute;
    margin-top: 20px;
    text-align: start;
}

.dropDown {

    width: 90px;
}

li.dropDown:hover > ul {

    display: block;
}

li.dropDown> ul.dropDownContainer> li {

    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

li.dropDown> ul.dropDownContainer> li> a {

    text-decoration: none;
    color: #fff;
    margin-bottom: 25px;
    padding-left: 10px;
}

li.dropDown> ul.dropDownContainer> li> a:hover {

    color: purple;
    transition: 0.2s;
}

.dropDownContainer {

    width: 150px;
    height: 100px;
    background-color: #191919;
    color: #fff;
    list-style: none;

    padding-left: 0px;
}

.dropDownLink {

    text-decoration: none;
    color: #fff;
}

